@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
address {
	text-align: center;
}
body {
	color: #424242;
	font-family: 'Fira Mono';
	font-size: 18px;
}
nav ul li {
	list-style: none;
}
nav ul li figure {
	border-radius: 50%;
	height: 92px;
	position: relative;
	width: 92px;
	cursor: pointer;
	box-shadow: 2px 2px 2px #E6E6E6;
	margin-top: 46px;
	left: 50%;
	margin-left: -46px;

}
nav p {
	text-align: center;
}
header figure {
	text-align: center;
}
header h1 {
    font-size:150%;
	font-weight: lighter;
	position: relative; 
	width: 200px;
}
header h1 span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: white; /* same as background */
    border-left: .1em solid black;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-animation: typing 2s steps(12, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 2s steps(12, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
header h3 {
	color: gray;
	font-weight: lighter;
	text-align: center;
	margin-top: 80px;

}
header h4 {
	color: gray;
	font-weight: lighter;
	text-align: center;
	font-size: 0.7em;

}
nav ul li p {
	color: white;
	font-size: 1.5em;
	font-weight: lighter;
	margin-left: 33%;
	margin-top: 33%;
	position: absolute;

}
nav ul {
	margin-left: -40px;
	text-align: center;
}

.amarillo {
	background-color: #FFBF00;
}
.avatar {
	border-radius: 50%;
	border: 3px solid black;
	height: 112px;
	width: auto;
}
.azul {
	background-color: #58D3F7;
}
.purple {
	background-color: purple;
}
.rojo {
	background-color: #FA5858;
}
.verde {
	background-color: #04B404;
}
.verdeClaro
{
	background-color: #01DF74;
}
#nav2 article {
	padding: 15px;
	display: none;
}
#nav2 article figure {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: inline-block;
	cursor: pointer;
	margin-left: -10px;
	margin-top: -10px;
	float: left;
}
#nav2 article figure p {
	font-size: 2em;
	text-align: center;
	margin-top: 9px;
	color: white;
}
#nav2 article h2 {
	margin-top: -10px;
	padding: 5px;
}
#nav2 article ul li{
	border-radius: 50%;
	height: 90px;
	list-style: none;
	margin-left: -40px;
	position: relative;
	width: 90px;
	cursor: pointer;
}
#nav2 article ul li p {
	font-size: 2em;
}
#nav2 article ul {
	display: inline-block;
}
#nav2 article h2 {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 50px;
	margin-left: 25px;
	font-size: 2em;
	font-weight: lighter;
}
#nav2 article button {
	width: 120px;
	height: 40px;
	border-radius: 3px;
	border: none;
	font-size: 0.7em;
	cursor: pointer;
}
#nav2 article button:active {
	
}
.btnRetorno {
	background-color: #E6E6E6;
	margin-right: 10px;
}
.btnIr {
	background-color: #58D3F7;
}
.cajaBotones {
	width: 280px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -140px;
	margin-top: 55px;
}
#cajaNombre {
	display: block; 
	width: 200px; 
	position:absolute;
	left: 50%;  
	margin-left: -100px;
}
.cajaTitulo {
	display: inline-block;
}

#ancla2 {
	margin-top: 110px;
}